In [1]:
import pandas as pd
import os
import numpy as np
import geopandas as gpd

# Getting water levels

## Creating functions

### V1. Mixed raw data and referenced to NN

In [2]:
#function to get excel data from inowas, convert to long data and generate outputs

#It works only for G wells
def DatabaseG (input_name, sheetname, output_name, code_explanation):
    gwl_fn = input_name
    gwlG_df = pd.read_excel(gwl_fn, sheet_name = sheetname)
    cols_list = list(gwlG_df.columns)
    gwlG_df2 = gwlG_df.iloc[4:,:]
    cols_list[0] = 'Date'
    cols_list[2] = 'Time'
    gwlG_df2.columns = cols_list
    gwlG_df2 = gwlG_df2.drop('MST', axis=1)

    #wide to long
    gwlG_df3= pd.melt(gwlG_df2, id_vars = ['Date', 'Time'], value_vars = gwlG_df2.columns[2:])

    #creating a column with well ID
    gwlG_df3['WellID'] = gwlG_df3.variable.str.split('_', expand = True)[0]

    #Editting variable column
    gwlG_df3['variable'] = np.where(gwlG_df3['variable'].str.len() > 5, 'Temperature', 'GWL')

    #transforming strings in factors
    labels, uniques = pd.factorize(gwlG_df3['variable'])
    gwlG_df3['variable'] = labels

    #renaming and reorganizing columns
    gwlG_df3 = gwlG_df3.rename(columns = {
        'variable': 'Variable',
        'value' : 'Value'
    })
    gwlG_df3 = gwlG_df3[['WellID', 'Time', 'Variable', 'Value']]

    #exporting csv
    gwlG_df3.to_csv(output_name, index = False)
    
    #save explanation of variable
    with open(code_explanation, '+w') as f:
        f.write('Code of Variable below:\n')
        for i, j in enumerate(uniques):
            f.write(str(i) + ':' + str(j) + '\n' )
        
    return (gwlG_df3)

def DatabaseGWM (input_name, sheetname, output_name):
    gwl_fn = input_name
    gwlG_df = pd.read_excel(gwl_fn, sheet_name = sheetname)
    cols_list = list(gwlG_df.columns)
    gwlG_df2 = gwlG_df.iloc[5:,:]
    cols_list[0] = 'Time'
    gwlG_df2.columns = cols_list

    #wide to long
    gwlG_df3= pd.melt(gwlG_df2, id_vars = ['Time'], value_vars = gwlG_df2.columns[1:])

    # renaming and reorganizing columns
    gwlG_df3 = gwlG_df3.rename(columns = {
        'variable': 'WellID',
        'value': 'Value'
    })
    gwlG_df3 = gwlG_df3[['WellID', 'Time', 'Value']]

    #exporting csv
    gwlG_df3.to_csv(output_name, index = False)
    return(gwlG_df3)

### V2. Referenced to NN only - 2022.11.21

In [3]:
os.chdir('Data/Groundwater levels')

In [3]:
def DatabaseGWM2019 (gw_fn,sheetname, output_name):
    
    gwlG_df = pd.read_excel(gw_fn, sheet_name = sheetname)
    cols_list = list(gwlG_df.columns)
    gwl_df = gwlG_df.iloc[4:,:] #removing the first rows
    cols_list[0] = 'Date'
    cols_list[2] = 'Time'
    cols_list[cols_list.index('Unnamed: 14')] = 'DateTime2'
    gwl_df.columns = cols_list
    gwl_df = gwl_df.drop(['MST', 'Date'],axis=1)
    if 'Unnamed: 20' in gwl_df.columns:
        gwl_df = gwl_df.drop(['Unnamed: 20'],axis=1)

    cols_list = list(gwl_df.columns)
    cols_list = [WellName.replace('GWM',"GWM0") for WellName in cols_list]
    cols_list[cols_list.index('G1')] = 'G01'
    cols_list[cols_list.index('G4')] = 'G04'
    gwl_df.columns = cols_list
    gwl_df['Time'] = pd.to_datetime(gwl_df['Time'])
    gwl_df['DateTime2'] = pd.to_datetime(gwl_df['DateTime2']).dt.floor('H')
    gwl1_df = gwl_df.iloc [:, : cols_list.index('G23')  +1]
    gwl2_df = gwl_df.iloc [:, cols_list.index('G23') + 1 : ].rename(columns = {'DateTime2' : 'Time'} )
    gwl1_df_ = pd.melt(gwl1_df, id_vars = ['Time'], value_vars = gwl1_df.columns[1:], var_name = 'WellName', value_name = 'Value')
    gwl2_df_ = pd.melt(gwl2_df, id_vars = ['Time'], value_vars = gwl2_df.columns[1:], var_name = 'WellName', value_name = 'Value')

    gwl_df = pd.concat ([gwl1_df_, gwl2_df_])
    gwl_df['Variable'] = 0
    sortedcols = ['Time', 'Variable', 'WellName' , 'Value']
    gwl_df = gwl_df[sortedcols]
    gwl_df = gwl_df.sort_values(by = sortedcols).reset_index(drop = True)
    
    gwl_df.to_csv(output_name, index = False)
    return(gwl_df)

In [4]:
def DatabaseGWM2015 (gw_fn,sheetname, output_name):
    gwl_df = gwlG_df.iloc[4:,:].reset_index (drop = True) #removing the first rows
    cols_list = list(gwlG_df.columns)
    cols_list[0] = 'Date'
    cols_list[2] = 'Time'
    gwl_df.columns = cols_list
    gwl_df = gwl_df.drop(['MST', 'Date'],axis=1)
    if 'Unnamed: 20' in gwl_df.columns:
        gwl_df = gwl_df.drop(['Unnamed: 20'],axis=1)

    gwl_df = gwl_df.iloc[:,:-2]
    cols_list = list(gwl_df.columns)
    cols_list = [WellName.replace('GWM',"GWM0") for WellName in cols_list]
    cols_list[cols_list.index('G1')] = 'G01'
    cols_list[cols_list.index('G4')] = 'G04'
    gwl_df.Time = gwl_df.Time.astype('str')
    gwl_df = gwl_df.drop (gwl_df[gwl_df.Time.str.startswith('00')].index)
    gwl_df.Time = pd.to_datetime(gwl_df.Time)

    gwl_df.columns = cols_list
    gwl_df = pd.melt(gwl_df, id_vars = ['Time'], value_vars = gwl_df.columns[1:], var_name = 'WellName', value_name = 'Value')

    gwl_df['Variable'] = 0
    sortedcols = ['Time', 'Variable', 'WellName' , 'Value']
    gwl_df = gwl_df[sortedcols]
    gwl_df = gwl_df.sort_values(by = sortedcols).reset_index(drop = True)
    
    gwl_df.to_csv(output_name, index = False)
    return(gwl_df)

In [5]:
#It works only for G wells
def DatabaseTempG (input_name, sheetname, output_name):
    gwl_fn = input_name
    gwlG_df = pd.read_excel(gwl_fn, sheet_name = sheetname)
    cols_list = list(gwlG_df.columns)
    gw_df2 = gwlG_df.iloc[4:,:]

    cols_list = list(gw_df2.columns)
    cols_list[0] = 'Date'
    cols_list[2] = 'Time'
    gw_df2.columns = cols_list
    gw_df2 = gw_df2.drop(['Date', 'MST'], axis=1)
    gw_df2 = gw_df2[[col for col in gw_df2 if len (col) >3]]


    cols_list = list(gw_df2.columns)
    gw_df2.columns = [col.split("_")[0] for col in cols_list]
    cols_list = list(gw_df2.columns)
    cols_list[cols_list.index('G1')] = 'G01'
    cols_list[cols_list.index('G4')] = 'G04'
    gw_df2.columns = cols_list

    gw_df2 = pd.melt (gw_df2, id_vars = ['Time'], value_vars = gw_df2.columns[1:], var_name = 'WellName', value_name = 'Value')
    
    gw_df2['Variable'] = 1
    
    sortedcols = ['Time', 'Variable', 'WellName' , 'Value']
    gw_df2 = gw_df2[sortedcols]
    gw_df2 = gw_df2.sort_values(by = sortedcols).reset_index(drop = True)
    
    return (gw_df2)

## Databases

In [6]:
os.chdir('D:/Repos/PirnaCaseStudy/Data/Groundwater levels')

In [343]:
Temp_2019_df = DatabaseTempG('GW Pirna_ab2019-Hourly_1Zoll+5Zoll.xlsx', 
                             'G-Messstellen',
                             'Temp_2019.csv')

In [344]:
Temp_2015_df = DatabaseTempG('GW Pirna_ab300115bis300117_hourly_1Zoll.xlsx', 
                             'GW table_from 300115',
                             'Temp_2015.csv')

In [394]:
GWL_2019_df = DatabaseGWM2019('GW Pirna_ab2019-Hourly_1Zoll+5Zoll.xlsx', 
                             'referenced to NN',
                             'GWL_2019.csv')

In [395]:
GWL_2015_df = DatabaseGWM2015('GW Pirna_ab300115bis300117_hourly_1Zoll.xlsx',
                              'referenced to NN_from300115',
                              'GWL_2015.csv')

### Concatenate databases

In [379]:
wells_df = pd.read_csv('Wells.csv')
wells_df.head()

   ID    Name  DrillID  CaseHeight  Diameter  FilterTop  FilterBase  Depth
0   0     G01        0      119.49         1        1.0        13.0   14.0
1   1     G04        3      119.19         1        1.0        13.0   14.0
2   2  G04neu        4      120.09         1        8.0        14.0   15.1
3   3     G10        6      119.29         1        1.0        13.0   14.0
4   4     G11        7      116.95         1        1.0        13.0   14.0

In [403]:
sortedcols = ['Time', 'Variable', 'WellName', 'Value']
database_df = pd.concat ([Temp_2015_df, Temp_2019_df,GWL_2019_df, GWL_2015_df])
database_df = database_df.merge( wells_df[['ID', 'Name']], left_on = 'WellName', right_on ='Name').reset_index(drop = True).drop(['WellName', 'Name'], axis = 1)
database_df = database_df.rename(columns= {'ID': 'WellID'})
database_df.to_csv('DiversMeasurements.csv', index = 'False')

In [408]:
for i in GWL_2015_df.WellName.unique():
    print(i)

G01
G04
G10
G11
G12
G13
G15
G17
G19
G21
G23

# Processing and adding river data

In [33]:
os.chdir('D:/Repos/PirnaCaseStudy/Data/Groundwater levels')
os.listdir()

['.ipynb_checkpoints',
 'DiverInfo.xlsx',
 'DiversMeasurements.csv',
 'GW Pirna_ab2019-Hourly_1Zoll+5Zoll.xlsx',
 'GW Pirna_ab300115bis300117_hourly_1Zoll.xlsx',
 'GWL_2015.csv',
 'GWL_2019.csv',
 'readme.txt',
 'Temp_2015.csv',
 'Temp_2019.csv',
 'Wells.csv',
 'WellsCoords.csv',
 'WellsCoords_Edited.xlsx',
 '~$GW Pirna_ab2019-Hourly_1Zoll+5Zoll.xlsx']

In [34]:
fn = 'DiversMeasurements.csv'
df = pd.read_csv(fn, index_col = 'Unnamed: 0')
# df['Date'] = pd.to_datetime(df.TimeStamp)
# df = df [(df.Date.dt.year == 2021) &
#          (df.Date.dt.month == 12)].sort_values(by = 'TimeStamp', ascending = True).\
#             reset_index()
df['Time'] = pd.to_datetime(df.Time)

In [35]:
df['TimeStamp'] = df.Time.astype('int64') / 1e9

In [36]:
df['Time2'] = pd.to_datetime(df.TimeStamp * 1e9)

In [52]:
df.columns

Index(['Time', 'Variable', 'Value', 'WellID', 'TimeStamp', 'Time2'], dtype='object')

In [54]:
df.columns = ['Time', 'VariableID', 'Value', 'MonitoringPointID', 'TimeStamp', 'Time2']

In [56]:
df = df[[ 'MonitoringPointID', 'TimeStamp',  'VariableId', 'Value', 'Time', 'Time2']]

In [62]:
df [df.Time != df.Time2]

Empty DataFrame
Columns: [MonitoringPointID, TimeStamp, VariableID, Value, Time, Time2]
Index: []

In [68]:
df = df[df.columns [:4]]

In [69]:
df.head()

   MonitoringPointID     TimeStamp  VariableID  Value
0                  0  1.422620e+09           1    NaN
1                  0  1.422624e+09           1    NaN
2                  0  1.422628e+09           1    NaN
3                  0  1.422631e+09           1    NaN
4                  0  1.422635e+09           1    NaN

### Conversion worked!! Adding River Data

In [26]:
os.chdir('D:\\Repos\\PirnaCaseStudy\\Data\\Tables\\Old')

In [24]:
riv_df1 = pd.read_excel('Elbe River water levels 2019-2022.xlsx')
riv_df2 = pd.read_excel('Elbe River water levels Oct2015-2017.xlsx')

In [117]:
riv_df = pd.concat([riv_df2, riv_df1])

In [123]:
riv_df['Time'] = pd.to_datetime (riv_df['Time'], dayfirst = True)
riv_df['TimeStamp'] = riv_df['Time'].astype('int64') / 1e9
riv_df['Time2'] = pd.to_datetime (riv_df['TimeStamp'] * 1e9)

In [127]:
riv_df [ riv_df.Time != riv_df.Time2 ]

Empty DataFrame
Columns: [Time, Water level [cm], Water level [m], TimeStamp, Time2]
Index: []

In [126]:
t = riv_df.copy()
t [(t.Time.dt.year == 2021) &
         (t.Time.dt.month == 12) &
          (t.Time.dt.day == 29)].head()

,Time,Water level [cm],Water level [m],TimeStamp,Time2
23880,2021-12-29 00:00:00,163,1.63,1.640736e+09,2021-12-29 00:00:00
23881,2021-12-29 01:00:00,163,1.63,1.640740e+09,2021-12-29 01:00:00
23882,2021-12-29 02:00:00,163,1.63,1.640743e+09,2021-12-29 02:00:00
23883,2021-12-29 03:00:00,163,1.63,1.640747e+09,2021-12-29 03:00:00
23884,2021-12-29 04:00:00,163,1.63,1.640750e+09,2021-12-29 04:00:00

### TimeStamp conversion worked!

In [128]:
riv_df ['MonitoringPointID'] = 30
riv_df ['VariableID'] = 9
riv_df = riv_df [['MonitoringPointID', 'TimeStamp', 'VariableID', 'Water level [m]']]

In [129]:
riv_df = riv_df.rename (columns = {'Water level [m]' : 'Value'})
riv_df.head()

   MonitoringPointID     TimeStamp  VariableID  Value
0                 30  1.446016e+09           9   1.23
1                 30  1.446019e+09           9   1.23
2                 30  1.446023e+09           9   1.23
3                 30  1.446026e+09           9   1.23
4                 30  1.446030e+09           9   1.23

In [130]:
PointsMeasurements_df = pd.concat ([df, riv_df]).reset_index(drop = True)

In [131]:
t = PointsMeasurements_df.copy()

t['Date'] = pd.to_datetime(t.TimeStamp * 1e9)

In [132]:
t

,MonitoringPointID,TimeStamp,VariableID,Value,Date
0,0,1.422620e+09,1,NaN,2015-01-30 12:18:45
1,0,1.422624e+09,1,NaN,2015-01-30 13:18:45
2,0,1.422628e+09,1,NaN,2015-01-30 14:18:45
3,0,1.422631e+09,1,NaN,2015-01-30 15:18:45
4,0,1.422635e+09,1,NaN,2015-01-30 16:18:45
...,...,...,...,...,...
1078473,30,1.642446e+09,9,2.09,2022-01-17 19:00:00
1078474,30,1.642450e+09,9,2.09,2022-01-17 20:00:00
1078475,30,1.642453e+09,9,2.09,2022-01-17 21:00:00
1078476,30,1.642457e+09,9,2.09,2022-01-17 22:00:00
1078477,30,1.642460e+09,9,2.10,2022-01-17 23:00:00

### Tests worked well

In [135]:
x = t [(t.Date.dt.year == 2021) &
         (t.Date.dt.month == 12) &
          (t.Date.dt.day == 28) &
            (t.VariableID == 9)].sort_values(by = 'TimeStamp', ascending = True).\
            reset_index(drop = True)

In [137]:
os.chdir('D:\\Repos\\PirnaCaseStudy\\Data\\Tables')
os.listdir()

['database.db',
 'Divers.csv',
 'DrillingTests.csv',
 'MonitoringPoints.csv',
 'Old',
 'Points.csv',
 'PointsMeasurements2.csv',
 'PointsMeasurements3.csv',
 'TestsType.csv',
 'Variables.csv',
 'WellDiver.csv']

In [141]:
PointsMeasurements_df.columns

Index(['MonitoringPointID', 'TimeStamp', 'VariableID', 'Value'], dtype='object')

In [142]:
PointsMeasurements_df['ID'] = PointsMeasurements_df.index
PointsMeasurements_df = PointsMeasurements_df[['ID','MonitoringPointID', 'TimeStamp', 'VariableID', 'Value']]
PointsMeasurements_df.head()

   ID  MonitoringPointID     TimeStamp  VariableID  Value
0   0                  0  1.422620e+09           1    NaN
1   1                  0  1.422624e+09           1    NaN
2   2                  0  1.422628e+09           1    NaN
3   3                  0  1.422631e+09           1    NaN
4   4                  0  1.422635e+09           1    NaN

In [144]:
PointsMeasurements_df.to_csv('PointsMeasurements.csv', index =False)

#### Functions to convert readings to hydraulic heads

Here I'll create 2 lists of diver data to index the dataframe and calculate the heads. That is necessary because there is a different procedure to calculate the heads. I passed the procedure from the excel file to this python script.

In [397]:
os.chdir('D:/Repos/PirnaCaseStudy/Data/Databases')

Reading case elevation and merging it ont

In [481]:
WellID_df = pd.read_csv('WellID_edited.csv', encoding = 'utf-8')
WellID_df = WellID_df.iloc[:33,:] #cutting additional intel to compute coords in the future
WellID_df.CaseHeight = pd.array(WellID_df.CaseHeight,  dtype = pd.Float32Dtype() )

#merging and getting case height
df = database_df
df = pd.merge(WellID_df[['WellID', "CaseHeight"]] , database_df, on = 'WellID')
df.head()

  WellID  CaseHeight Value  Variable        Date  Hour
0    G01  119.489998   NaN         0  2015-01-30    12
1    G01  119.489998   NaN         1  2015-01-30    12
2    G01  119.489998   NaN         0  2015-01-30    13
3    G01  119.489998   NaN         1  2015-01-30    13
4    G01  119.489998   NaN         0  2015-01-30    14

#### Important

**The apply functions below will be always used to convert the diver data to the hydraulic heads before filling the database**

In [482]:
#defining lists of wells that will guide the type of apply function applied
Solinst_list = [well for well in database_df.WellID.unique() if 'W' not in well]
UIT_list = [well for well in database_df.WellID.unique() if 'W' in well]

#apply function with lambda to convert readings of Solinst to heads using conditionals
head1 = df.apply(lambda x: x['CaseHeight'] - x['Value'] # Use value as input
                     if x['WellID'] in Solinst_list
                         and x['Variable'] == 0
                     else x['Value'], axis = 1)
df['Head'] = head1 #create a new column

#apply function with lambda to convert readings of UIT to heads using conditionals
DiverDepth = 12.3
# elevation - DiverDepth + water column
head2 = df.apply(lambda x: x['CaseHeight'] - DiverDepth + x['head']  #use new head as input now. Not value anymore
                     if x['WellID'] in UIT_list 
                         and x['Variable'] == 0
                     else x['Value'], axis = 1)

df['Head'] = head2

database_df = df [['WellID', 'Date', 'Hour', 'Variable', 'Head']] #finally update database


database_df.head()

  WellID        Date  Hour  Variable  head
0    G01  2015-01-30    12         0   NaN
1    G01  2015-01-30    12         1   NaN
2    G01  2015-01-30    13         0   NaN
3    G01  2015-01-30    13         1   NaN
4    G01  2015-01-30    14         0   NaN

In [484]:
database_df.head()

  WellID        Date  Hour  Variable  Head
0    G01  2015-01-30    12         0   NaN
1    G01  2015-01-30    12         1   NaN
2    G01  2015-01-30    13         0   NaN
3    G01  2015-01-30    13         1   NaN
4    G01  2015-01-30    14         0   NaN

It worked!!

* **Problem:** they coordinates from the Koordinates+Elevation file are different from the coordinates present in the excel file. I have used the coords present in Koordinates+Elevation for this calculation.

In [487]:
database_df.loc [(database_df['WellID'] == 'GWM2') &
                 (database_df['Date'] == pd.to_datetime('2022-01-17').date()) ].tail(n=30)a

       WellID        Date  Hour  Variable        Head
945695   GWM2  2022-01-17     0         0  110.310003
945696   GWM2  2022-01-17     1         0  110.300003
945697   GWM2  2022-01-17     2         0  110.300003
945698   GWM2  2022-01-17     3         0  110.300003
945699   GWM2  2022-01-17     4         0  110.300003
945700   GWM2  2022-01-17     5         0  110.300003
945701   GWM2  2022-01-17     6         0  110.290003
945702   GWM2  2022-01-17     7         0  110.290003
945703   GWM2  2022-01-17     8         0  110.290003
945704   GWM2  2022-01-17     9         0  110.290003
945705   GWM2  2022-01-17    10         0  110.280003
945706   GWM2  2022-01-17    11         0  110.280003
945707   GWM2  2022-01-17    12         0  110.280003
945708   GWM2  2022-01-17    13         0  110.280003
945709   GWM2  2022-01-17    14         0  110.270003
945710   GWM2  2022-01-17    15         0  110.270003
945711   GWM2  2022-01-17    16         0         NaN
945712   GWM2  2022-01-17    17         0         NaN
945713   GWM2  2022-01-17    18         0         NaN
945714   GWM2  2022-01-17    19         0         NaN
945715   GWM2  2022-01-17    20         0         NaN
945716   GWM2  2022-01-17    21         0         NaN
945717   GWM2  2022-01-17    22         0         NaN
945718   GWM2  2022-01-17    23         0         NaN

In [488]:
database_df.to_csv('GWL.csv', index = False)